h1 {
  text-align: center;
  color: rgb(12, 114, 26);
  font-size: 25px;
  background-color: rgb(173, 172, 172);
}

h2 {
  text-align: center;
  color: rgb(12, 114, 26);
  font-size: 30px;
}

h4 {
  text-align: center;
  color: rgb(12, 114, 26);
  font-size: 10px;
}